/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
 html, body {
  height: 100%;
  margin: 0;
}
.home-bg{
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position:relative
}
.home-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.overlay{
  position:relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
text-align: center;
 }
 .title{
  color: white;
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 30px;
 }
 .google-btn{
  background: white;
  color: #333;
  border: none;
  padding: 12px 26px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap:12px;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0,0,0,0.35);
  transition: all 0.3s ease;
 }
 .google-btn:hover {
  transform: translate(-2px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.45);
 }
 @media (max-width: 768px) {
  .home-bg {
    background-position: center;
  }
  .title {
    font-size: 2.2rem;
  }

  .google-btn {
    padding: 10px 20px;
    font-size: 0.95rem;
  }
}
@media (max-width: 480px) {
  .home-bg {
    background-size: cover;
    background-position: center;
  }
  .title {
    font-size: 1.9rem;
  }
  .overlay{
    padding: 0 16px;
  }
}




